{% extends 'base.html' %}

{% block title %}
	Delete blog post
{% endblock %}
{% block content %}

{% if user.is_authenticated %} 
	{% if user.id == post.author.id %}
<h1>Delete Post</h1>
<br/><br/>

<h3>Delete: {{ post.title }}</h3>
<br/>
<div class ="form-group">
<form method="POST">
	{% csrf_token %}
	<strong>Are u sure??</strong><br/><br/>
	<button class="btn btn-danger">Delete Post?</button>
</div>
	{% else %}

Not allowed and u kmow it !!

{% endif %}

{% else %}

Not allowed and u kmow it !!

{% endif %}

{% endblock %}
